
<div class="panel-body inputcoffee">
  <form #f="ngForm">

    <div class="form-group">
      <label class="col-md-4">Ime kave:</label>
      <input type="text" class="form-control"
      [(ngModel)]="imekafe"
        name="ime_kave"/>
    </div>
    <div class="form-group">
      <label class="col-md-4">Ocjena:</label>
      <input type="number" class="form-control"
      [(ngModel)]="brojkakafe"
       name="ocjena_kave"/>
    </div>
    <div class="form-group">
      <button (click)="dodajKavu()" class="btn btn-primary">Dodaj</button>
    </div>

  </form>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">IME:</th>
      <th scope="col">ID:</th>
      <th scope="col">GRADE:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="testirambre" *ngFor="let bl of bla" (click)="onClicka(bl)"> 
      <td><p class="test">{{bl.name}}</p></td>
      <td><p class="test">{{bl.id}}</p></td>
      <td><p class="test">{{bl.grade}}</p></td>
      <td>
        <button (click)="izbrisi(bl.id)" class="btn btn-primary">izbrisi</button>
      </td>
      <div class="jostestirambre" id="{{ 'bl' + bl.id }}" style="display: none;">
        Test
      </div>
    </tr>
  </tbody>
</table> 