.inputcoffee{
    padding-top:50px;
    max-width:60%;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.rowB{

    margin: 0 auto;
    background-color: rgb(224, 224, 224);
}
.testHeader{
  margin: 0 auto;
  background-color: rgb(170, 170, 170);
  &:hover {
    color:rgb(138, 138, 138);
  }
}
.test3{
  margin: 0 auto;
  background-color: rgb(201, 201, 201);
  &:hover {
    color:rgb(201, 201, 201);
  }
}
.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  
  //copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
  $mat-header-row-height: 56px;
  $mat-row-height: 200px;
  $mat-row-horizontal-padding: 24px;
  
  .mat-table {
    display: block;
  }
  
  .mat-header-row {
    min-height: $mat-header-row-height;
  }
  
  .mat-row {
    min-height: $mat-row-height;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
  
    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  
  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  