
<div class="panel-body inputcoffee">
  <form #f="ngForm">

    <div class="form-group">
      <label class="col-md-4">Ime kave:</label>
      <input type="text" class="form-control"
      [(ngModel)]="imekafe"
        name="ime_kave"/>
    </div>
    <div class="form-group">
      <label class="col-md-4">Ocjena:</label>
      <input type="number" class="form-control"
      [(ngModel)]="brojkakafe"
       name="ocjena_kave"/>
    </div>
    <div class="form-group">
      <button (click)="dodajKavu()" class="btn btn-primary">Dodaj</button>
      <button (click)="consologaj();getKave();" class="btn btn-primary">CONSOLELOG</button>
    </div>

  </form>
</div>

<mat-accordion displayMode="flat" multi class="mat-table testHeader">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">IME:</span>
    <span class="mat-header-cell" mat-sort-header="vesselId">ID:</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">OCJENA:</span>
  </section>

  <mat-expansion-panel *ngFor="let bl of bla" class="test3">
    <mat-expansion-panel-header class="test3">
      <span class="mat-cell">{{bl.name}}</span>
      <span class="mat-cell">{{bl.id}}</span>
      <span class="mat-cell">{{bl.grade}}</span>
    </mat-expansion-panel-header>
    
    <mat-panel-description class="mat-row rowB">
      <!--mat-row  <span class="mat-cell">Edit: </span>
      <button (click)="izbrisi(bl.id)">X</button>-->
      <div class="example-container" style="overflow: hidden">

          <br>
        <mat-form-field hintLabel="Max 20 characters">
          <input type="text" [(ngModel)]="editImeKave" matInput #input maxlength="20" placeholder="Edit IME">
          <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
        <br>
      
        <mat-form-field hintLabel="1 - 5">
          <input type="number" [(ngModel)]="editOcjenaKave" min="1" max="5" maxlength="1" matInput #input placeholder="Edit OCJENA">
          <!--<mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
        </mat-form-field>
        <br>
        
      <button (click)="izbrisi(bl._id)" style="float: right;">Delete</button>
      <br>
      <button (click)="update(bl)" style="float: right;">Submit Edit</button>
      <br>
        
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

</mat-accordion>
